ons-input {
  width: 100%;
}

ons-input input.text-input {
  padding: 0 5px;
  box-sizing: border-box;
}

textarea.textarea {
  width: 100%;
}

ons-select {
  width: 100%;
  background: #ffffff;
  padding: 0 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

ons-button ons-progress-circular {
  width: 22px;
  height: 22px;
  position: relative;
  left: 10px;
  top: 4px;
}